/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* Set up your color variable scheme */
:root {
    --primary-color: #ff993b;
    --secondary-color: #fff23b;
    --dark-color: #292929;
    --white-color: #dff3e4;
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: var(--dark-color);
}

nav {background-color:var(--dark-color);}

footer{background-color:var(--dark-color);}

h1,h2,h3,h4,h5,h6,li {color: var(--primary-color);}

footer {
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--primary-color);
}

.checklist>li i {
    color: var(--secondary-color);
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.logoStyle{
    color: var(--primary-color);
    font-family: 'Monoton', cursive;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}